<%- include('./includes/head.ejs') %>
</head>
<body class="sb-nav-fixed">
    <%- include('./includes/navigation.ejs') %>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">All Blogs</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Category</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Title</th>
                                                <th>Category</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% for(let blog of blogs ) {%>
                                                <tr>
                                                    <td><%= blog.title %></td>
                                                    <td><%= blog.categoryid.name %></td>
                                                    <td><a href="/admin/blogs/edit/<%= blog._id %>">Edit</a> <a class="delete" data-id="<%= blog._id %>">Delete</a></td>
                                                </tr>
                                                <% } %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <%- include('./includes/footer.ejs') %>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script src="/admin/js/pages/blog.js"></script>
</body>
</html>

