<%- include('./includes/head.ejs') %>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body class="sb-nav-fixed">
    <%- include('./includes/navigation.ejs') %>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Add Blog</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                <form id="<% if (blog) { %>blog-edit-form<% } else { %>blog-add-form<% } %>">
                                    <div class="" id="alert" role="alert">
                                            
                                    </div>
                                    <% if (blog) { %>
                                        <input type="hidden" value="<%= blog._id %>" id="blogid">
                                    <% } %>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Title</label>
                                        <input class="form-control py-4" name="name" id="inputTitle" <% if (blog) { %>value="<%= blog.title %>"<% } %>  type="text" placeholder="Enter Title" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Category</label>
                                        <select class="form-control" name="" id="inputCategory">
                                            <% for(let category of categories){ %>
                                                <option value="<%= category._id %>" <% if (blog && category.id == blog.categoryid) { %>selected<% } %>  ><%= category.name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Description </label>
                                        <div id="editor" class="description"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Publish Date </label>
                                        <input class="form-control py-4" name="publishdate" id="inputPublishDate" type="datetime-local" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Image Thumbnail </label>
                                        <input class="form-control" name="Thumbnail" id="inputThumbnail" type="file" <% if (!blog) { %>required<% } %> />
                                        <% if (blog) { %><p>if you don't want to edit image, please do not select image</p><% } %>

                                        <% if (blog) { %>
                                            <input type="hidden" value="<%= blog.thumbnail %>" id="thumbnailtext">
                                        <% } %>

                                    </div>
                                    <div class="form-group d-flex align-items-center mt-4 mb-0">
                                        <button class="btn btn-primary mr-4" type="submit" id="btnSave"><% if (blog) { %> Upate <% } else { %>save <% } %></button>
                                        <a class="btn btn-primary" href="/admin/blogs" id="btnSave">cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('./includes/footer.ejs') %>
                <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
                <script src="/admin/js/pages/blog-add.js"></script>
                <script>
                    quill.root.innerHTML = "<% if (blog) { %><%- blog.description %><% } %>";
                    let currentdate = new Date("<% if (blog) { %><%= blog.publishDate %><% } %>");
                    let month = (currentdate.getMonth()+1 < 10) ? '0'+(currentdate.getMonth()+1) : currentdate.getMonth()+1 ;
                    let date = currentdate.getFullYear()+"-"+month+"-"+currentdate.getDate()+"T"+currentdate.getHours()+":"+currentdate.getMinutes();
                    document.getElementById("inputPublishDate").value = date;
                </script>
            </body>
            </html>
