<%- include('./includes/head.ejs') %>
</head>
<body class="sb-nav-fixed">
    <%- include('./includes/navigation.ejs') %>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">add Category</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                <form id="<% if (category) { %>category-edit-form<% } else { %>category-add-form<% } %>">
                                    <div class="" id="alert" role="alert">
                                            
                                    </div>
                                    <% if (category) { %>
                                        <input type="hidden" value="<%= category._id %>" id="catid">
                                    <% } %>
                        
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Name</label>
                                        <input class="form-control py-4"
                                         name="name" 
                                         id="inputName" 
                                         type="text" 
                                         value="<% if (category) { %><%= category.name %><% } %>"
                                         placeholder="Enter name" required />
                                    </div>
                                    <div class="form-group d-flex align-items-center mt-4 mb-0">
                                        <button class="btn btn-primary mr-4" type="submit" id="btnSave"><% if (category) { %> Upate <% } else { %>save <% } %></button>
                                        <a class="btn btn-primary" href="/admin/categories" id="btnSave">cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('./includes/footer.ejs') %>
                <script src="/admin/js/pages/category-add.js"></script>
</body>
</html>
