<%- include('./includes/head.ejs') %>
</head>
<body class="sb-nav-fixed">
    <%- include('./includes/navigation.ejs') %>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">All Categories</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>acation</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>acation</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% for(let category of categories ) {%>
                                            <tr>
                                                <td><%= category.name %></td>
                                                <td><a href="/admin/categories/edit/<%= category._id %>">Edit</a> <a class="delete" data-id="<%= category._id %>">Delete</a></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('./includes/footer.ejs') %>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script src="/admin/js/pages/category.js"></script>
</body>
</html>
