<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <form action="/search">
          <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search for...">
            <span class="input-group-append">
              <button class="btn btn-secondary" type="submit">Go!</button>
            </span>
          </div>
        </form>
      </div>
    </div>

  </div>