<%- include('./includes/head.ejs') %>
  <!-- Custom styles for this template -->
  <link href="/blog/css/blog-home.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <%- include('./includes/nav.ejs') %>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        
        <h1 class="my-4">
            <small>Search Result for <b><%= q %></b></small>
          </h1>
  

        <!-- Blog Post -->
        <% if(blogs.length > 0){ %>

            <% for(let blog of blogs){ %>
              <%  

              let date = new Date(blog.publishDate);
              let dateString = `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()}`;
      
              %>
                <div class="card mb-4 ">
                    <img class="card-img-top" height="300px" style="object-fit: cover;" src="/uploads/<%= blog.thumbnail %>" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title"><%= blog.title %></h2>
                        <a href="/<%= blog.slug %>" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on <%= dateString %> by
                        Admin
                    </div>
                </div>
            
            <% } %>
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
              <li class="page-item <% if(page == 1){%>disabled<% } %>">
                <a class="page-link" href="/search?q=<%= q %>&page=<%= page-1 %>">&larr; Older</a>
              </li>
              <li class="page-item <% if(!next){%>disabled<% } %>">
                <a class="page-link" href="/search?q=<%= q %>&page=<%= +page+1 %>">Newer &rarr;</a>
              </li>
            </ul>

        <% }else{ %>
            
          <h1 class="my-4">
                <small>No Post Found for this query</small>
              </h1>
        <% } %>


      </div>

      <!-- Sidebar Widgets Column -->
      <%- include('./includes/sidebar.ejs') %>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <%- include('./includes/footer.ejs') %>

</body>

</html>
