<%- include('./includes/head.ejs') %>
  <!-- Custom styles for this template -->
  <link href="/blog/css/blog-post.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <%- include('./includes/nav.ejs') %>

  <!-- Page Content -->
  <div class="container mt-4">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"><%= blog.title %></h1>

        <!-- Author -->
        <p class="lead">
          by
          Admin
        </p>

        <hr>

        <%  

        let date = new Date(blog.publishDate);
        let dateString = `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()}`;

        %>

        <!-- Date/Time -->
        <p>Posted on <%= dateString %> in <%= blog.categoryid.name %></p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/uploads/<%= blog.thumbnail %>" alt="">

        <hr>

        <!-- Post Content -->
        
        <%- blog.description %>

        <hr>
        

      </div>

      <!-- Sidebar Widgets Column -->
      <%- include('./includes/sidebar.ejs') %>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <%- include('./includes/footer.ejs') %>

</body>

</html>
